# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/MThread/vs2017/MThread/.vs/MThread/v15
/src/MThread/vs2017/MThread/MThread/Win32/Debug/MThread.tlog
/src/MThread/vs2017/MThread/MThread/Win32/Debug
/src/MThread/vs2017/MThread/MThread/Win32/Release/MThread.tlog
/src/MThread/vs2017/MThread/MThread/x64/Debug/MThread.tlog
/src/MThread/vs2017/MThread/MThread/x64/Debug
/src/MThread/vs2017/MThread/MThread/Win32/Release
/src/MThread/vs2017/MThread/MThread/x64/Release
/src/MThread/vs2017/test/test/Win32/Debug/test.tlog
/src/MThread/vs2017/test/test/Win32/Debug
/src/MThread/vs2017/test/test/Win32/Release/test.tlog
/src/MThread/vs2017/test/test/Win32/Release
/src/MThread/vs2017/test/test/x64/Debug
/src/MThread/vs2017/test/test/x64/Release/test.tlog
/src/MThread/vs2017/test/test/x64/Release
/src/MThread/vs2017/MThread/MThread
/bin/test.x86.Release.pdb
/bin/test.x86.Release.ipdb
/bin/test.x86.Release.iobj
/bin/test.x86.Debug.pdb
/bin/test.x86.Debug.ilk
/bin/test.x64.Release.pdb
/bin/test.x64.Release.ipdb
/bin/test.x64.Release.iobj
/bin/test.x64.Debug.pdb
/bin/test.x64.Debug.ilk
/src/build_vs2017_64
/src/MThread/build_64_Debug
/src/build_64_Debug
